.is-bold{
	font-weight: bold;
}
span[contenteditable="true"]{
  padding-right: 0px;
  padding-left:3px;  
  white-space: normal;
}
span[contenteditable]:empty::before {
  content: '......';    
}
span[contenteditable]:not(:empty){
 /*  background-color: #5DCEE2; */
      background-color: #d9edf7;
}
.hover { background-color: #E7FFEF; }
.tr:hover{
  cursor: pointer;
  background-color: #E7FFEF;
}
.border-none{
  border: none;
  padding-left: 6px; 
  width: 260px; 
  font-size:14px; 
  max-width: 100%;
  content: '......';
}
.color-red{
  color: red;
  font-weight: bold;
  cursor: pointer;
}

/*.active{
  background-color: #f1f1f1;
}
*/