{% regroup work_time_exclusions by date as grouped %}
{% for group in grouped %}
	<div class="d-flex py-2 border-top justify-content-between align-items-center">
	  <div class="mb-0 tx-13 w-50">
	    {{group.grouper}}
	  </div>
	  <div class="w-40">
	  	{% for item in group.list %}
		 	<p class="mb-1 mb-0 tx-13">
		 		{{ item.start_time|date:"H:i" }} - {{ item.end_time|date:"H:i" }}
		 	</p>
		{% endfor %}
	  </div>
	  <div class="mb-0 tx-13">
	    <span class="fz15 "> <i class="fa fa-trash"></i> </span>
	  </div>
	</div>
{% empty %}
	Недоступен
{% endfor %}