{% extends "base.html" %}
{% load widget_tweaks %}
{% load form_tags %}
{% block content %}
<style>
.collapsible {
  cursor: pointer;
}

/*.collapsible {
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active-div, .collapsible:hover {
  background-color: #555;
}
*/
.content-examination {
  padding: 9px 9px;
  display: none;
  overflow: hidden;
  background-color:#ffff0038;
  display: block;
    color: #140552;
    font-size: 13px;
    cursor: pointer;
}
</style>

<div class="az-dashboard-nav az-dashboard-nav-breadcrumbs">
  <nav class="nav">
    <a href="{% url 'inspection:reception_with_action_list' %}" class="nav-link">Пациенты</a>
    <span>/</span>
    <a class="nav-link"  href="#" style="color: red">Медицинские записи</a>
  </nav>
  <nav class="nav">
    <!-- <a id="schedule-create" data-customer="" class="nav-link" href="#">
        <i class="fa fa-calendar" aria-hidden="true"></i></i>Назначить услугу
    </a> -->
  </nav>

</div>
<input type="hidden" id="id_active_marker" value="{{ marker }}">
{% if history %}
  {% is_pdf history as is_pdf %}
  {% if not is_pdf %}
    {% include "document_circulation/form/form.html" %}
  {% else %}
    {% include "document_circulation/history/detail.html" %}
  {% endif %}
{% else %}
<div class="row">
  <div class="col-md-12 mb-3">
    <div class="card panel-info">
      <div class="card-header panel-heading">
        <div class="btn-group">
          <a type="button" class="iconfa btn btn-sm btn-default btn-xs collapsed" data-bs-toggle="collapse" data-parent="#accordion" href="#collapsPasient" aria-expanded="false">
              <span class="fa fa-chevron-down"></span>
          </a>
        </div>&nbsp;&nbsp;
        <b>Информация о пациенте</b>
        <span class="pasoent-fio">{{ customer }} </span>
        <span class="">
          <button id="start_priem" data-id="546097" class="doctor_forms_modal btn btn-sm btn-xs btn-success" data-toggle="modal" data-target=".bs-example-modal-forma">Начать прием</button>
          <button id="end_priem" data-id="546097" class="btn btn-xs btn-sm btn-danger">Завершить прием</button>
        </span>
        <span class="pull-right">
          <button id="start_priem" id="setting-ready-phrase"  class=" btn btn-sm btn-default get-forms" >Открытие/настройка форм</button>
        </span>
      </div>
      <div class="collapse" id="collapsPasient">
        <div class="card-body ">
          <table class="table-condensed w-100 table-fio">
            <tbody>
              <tr>
                <td><span class="info-b">Дата рождения:</span>{{ customer.date_birth }}</td>
                <td><span class="info-b">Пол:</span>{{ customer.get_gender_display |default_if_none:"---" }}</td>
                <td><span class="info-b">ИИН:</span>{{ customer.iin }} </td>
              </tr>
              {% if insurances %}
                <tr>
                  <td colspan="3">
                    <h6>Страховые карты клиента</h6>
                  </td>
                </tr>
                {% for insurance in insurances.customer_insurance %}
                <tr>
                  <td><span class="info-b">Номер карты: </span>{{ insurance.card_number }}</td>
                  <td><span class="info-b">Программа </span>{{ insurance.program }}</td>
                  <td><span class="info-b">Страховщик:</span> {{ insurance.insurance }}</td>
                </tr>
                <tr>
                  <td><span class="info-b">Дата начала:</span> {{ insurance.begin_date }}</td>
                  <td><span class="info-b"> Дата окончания: </span>{{ insurance.end_date }}</td>
                  <td><span class="info-b"></span></td>
                </tr>
                {% endfor %}
              {% endif %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="card panel-info">
      <div class="card-header panel-heading" style="height:41px;">
        <b>История болезни </b>
      </div>
      <div class="card-body scroll p-body-2">
        {% include "document_circulation/history/list.html" %}
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card panel-info">
      <div class="card-header panel-heading" style="height:41px;">
        <b>Счет реестер/Оплата услуг</b>
      </div>
      <div class="card-body scroll p-body-2">
        <table class="table table-condensed table-bottom" style="font-size: 13px;">
          <tbody id="history-search-content">
            {% for entry in final_data %}
            <tr>
              <td class="td-hover">
                <div class="" style="cursor:pointer;" data-bs-toggle="collapse" data-parent="#accordion" href="#collapse{{appointment.id}}" aria-expanded="false">
                  <span style="font-size: 14px;">{{ entry.appointment.service_title }} {% if entry.result_data %}<span class="over" id="status_54015">[Выполнен]</span>{% else %}<span class="directed">[По страховке]</span>&nbsp&nbsp<span class="over" id="status_54015">[Выполнен]</span>&nbsp&nbsp<span class="directed">[ОПМО]</span>&nbsp&nbsp<span class="over">[Оплачено]</span>{% endif %}</span>
                </div>
              </td>
            </tr>
            <tr class="collapse" id="collapse{{appointment.id}}">
              <td class="p-0">
                <div class="content-examination">
                  <form action="{% url 'document_circulation:examination_result_create' %}" method="post">
                    {% csrf_token %}
                    <div class="row">
                      <div class="col-md-6">
                        <label for=""><b>Услуга</b></label>
                        <input type="text" class="form-control" name="examination_appointment" value="{{ entry.appointment.service_title }}">
                      </div>
                      <div class="col-md-6">
                        <label for=""><b>Код МКБ-10</b></label>
                          <select name="icd" class="selectize-input-search">
                            <option value="">Выберите код МКБ-10</option>
                            {% for mkb in mkbs %}
                            <option value="{{mkb.code}}" {% if entry.result_data and entry.result_data.icd == mkb.id %}selected{% endif %}>{{mkb.code}}</option>
                            {% endfor %}
                          </select>
                      </div>
                      <div class="col-md-6">
                        <label for=""><b>Заключение</b></label>
                        <select name="conclusion" class="selectize-input-search">
                            <option value="">Выберите заключение</option>
                            {% for conclusion in conclusions %}
                            <option value="{{conclusion.id}}" {% if entry.result_data and entry.result_data.conclusion == conclusion.id %}selected{% endif %}>{{conclusion.title}}</option>
                            {% endfor %}
                        </select>
                      </div>
                      <div class="col-md-6">
                        <label for=""><b>Рекомендация</b></label>
                        <input type="text" name="recommendations" class="form-control" value="{% if entry.result_data %}{{ entry.result_data.recommendations }}{% endif %}">
                      </div>
                      <div class="col-md-12 mt-2">
                        <div class="pull-right forma_reg">
                            <input type="hidden" name="examination_appointment_id" value="{{ entry.appointment.id }}">
                          <button type="submit" class="btn btn btn-success btn-sm save_nap_strah" {% if entry.result_data %}disabled{% endif %}>Сохранить</button>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>


      </div>
    </div>
  </div>
</div>
{% endif %}

{% endblock %}



{% block modal %}
  <div class="modal" tabindex="-1" id="universal-modal">
    <div class="modal-dialog modal-lg" >
      <div class="modal-content" id="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Modal title</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

      </div>
    </div>
  </div>
   {% include "register/schedule/modal.html" %}
{% endblock %}

{% block domready %}

  localStorage.setItem('selected_marker', '')

  function get_phrase_marker(marker){
    $('#tree-content').tree('destroy')
    $('#ready-phrase-search').val('')
    $('#id_active_marker').val(marker)
    var url = "{% url 'document_circulation:ready_phrase_json' marker=0 %}".replace('0', marker)
    $('#tree-content').data('url', url)
    $.getJSON(
        url,
        function(data) {
            if(data.length){
                $('#tree-content').tree({
                    data: data,
                    autoEscape: false
                })
            }
            else{
                $('#tree-content').html("{% include "document_circulation/ready_phrase/empty.html" %}")
            }

        }
    )
    $("#content-ready-phrase-tab").prop("disabled", false).tab('show')
  }

  $(document).on("focus","span[contenteditable=true]",function() {
      var marker = $(this).data('marker')
      var selected_marker = localStorage.getItem('selected_marker')
      if(marker != selected_marker){
        get_phrase_marker(marker)
        localStorage.setItem('selected_marker', marker)
      }

  })

  $(document).on("focus",".fixed-ready_phrase",function() {
    var marker = $(this).data('marker')
    var marker = $(this).data('marker')
    var selected_marker = localStorage.getItem('selected_marker')
    if(marker != selected_marker){
      get_phrase_marker(marker)
      localStorage.setItem('selected_marker', marker)
    }

  })
  $(document).on('click', '#ready-phrase-button', function (e) {
    $('#tree-content').tree('destroy')
    var marker = $('#id_active_marker').val()
    var search = $('#ready-phrase-search').val()
    var url = "{% url 'document_circulation:ready_phrase_json' marker=0 %}".replace('0', marker)
    $.getJSON(
        url+"?search=" + search,
        function(data) {
            $('#tree-content').tree({
                data: data,
                autoEscape: false
            })
        }
    )
  })

  $(document).ready(function(){
  // Фикмированная шапка при скролле
    $("#fixed-sidbar").removeClass("default");
    $(window).scroll(function(){
      if ($(this).scrollTop() > 130) {
        $("#fixed-sidbar").addClass("default").fadeIn('fast');
      } else {
        $("#fixed-sidbar").removeClass("default").fadeIn('fast');
      };
    });
  });

  $(document).on('click', '.select-datalist', function (e) {
    var datalist = $(this).html()
    var marker = $(this).closest('li').data('id')
    var element = $('#' + marker)
    var result = element.val() + datalist
    element.val(result)
    var name = element.attr('name')
    $('#' + name).append(datalist)
  })

  var index = 0
  // Открыть список форм
  $(document).on('click', '.get-forms', function (e) {
    $.ajax({
        type: "GET",
        url: "{% url 'document_circulation:func_structure_form_list' schedule=schedule.id %}",
        success: function(data) {
          $('#modal-content').html(data)
          $('#universal-modal').modal('show')
        }
    })
  })

  // Выбрать необходимую форму
  $(document).on('click', '.choose-form', function (e) {
    event.preventDefault()
    var url = $(this).data('url')
      var form = $("<form action='" + url + "' method='post' style='display: none'>" +
        '{% csrf_token %}' +
        "<input type='hidden' name='status' value='3' />" +
        "<input type='submit' />" +
        "</form>").appendTo('body')
    form.submit()
  })

  // Удалить незавершенную ИБ
  $(document).on('click', '.delete-history', function (e) {
    if(confirm("Вы уверены, что хотите удалить эту запись ?")){
      var id = $(this).data('id')
      var url = "{% url 'document_circulation:history_delete' pk=0 %}".replace('0', id)
      var form = $("<form action='" + url + "' method='post' style='display: none'>" +
          '{% csrf_token %}' +
          "<input type='hidden' name='schedule' value='{{schedule.id}}' />" +
          "<input type='submit' />" +
          "</form>").appendTo('body')
      form.submit()
    }
  })

  // Связанные формы настроить
  $(document).on('click', '.form-relation-modal', function (e) {
    var next_page = "{{ request.path }}"
    $.ajax({
          type: "GET",
          url: "{% url 'document_circulation:form_relation' %}",
          data: {
            next_page: next_page
          },
          success: function(data) {
            $('#modal-content').html(data)
            $('#universal-modal').modal('show')
          }
      })
  })

  // Получить маркеров формы
  $(document).on("change", "#relation-form", function() {
    var form = $(this).val()
    if(form){
      $.ajax({
            url: "{% url 'document_circulation:marker_relation' form=0 %}".replace('0', form),
            type: 'GET',
            error: function(jqXHR, textStatus, errorThrown) {
                alert(jqXHR.responseText)
            },
            success:function (data) {
              $('#id_marker').html(data)
            }
        })
    }
  })

  // Удалить отношения формы
  $(document).on("click", ".remove-relation", function() {
    var id = $(this).data('id')
    $.ajax({
          url: "{% url 'document_circulation:marker_relation_delete' pk=0 %}".replace('0', id),
          type: 'POST',
          error: function(jqXHR, textStatus, errorThrown) {
              alert(jqXHR.responseText)
          },
          success:function (data) {
            location.reload()
          }
      })
  })

  // Создать новый прием
  $(document).on('click', '#schedule-create', function(){
      var url = "{% url 'register:schedule_create' %}?customer={{ customer.id }}"
      var user = "{{ request.user.id }}"
      schedule_form(url, false, true, user)
  })

  // Сохранить назначенный прием
  $(document).on("submit", "#schedule-form", function() {
    event.preventDefault()
    var form = $(this)
      var url = form.attr('action')
      $.ajax({
           type: "POST",
           url: url,
           data: form.serialize(),
           success: function(data)
           {
                if(data.status){
                  location.reload()
              }
          }
        })
  })

  function get_consumable_appointed_service(save_history=false){
    $.ajax({
        type: "GET",
        url: "{% url 'technological_card:consumable_appointed_service' customer=customer.id %}",
        data: {},
        success: function(data) {
          $('#modal-content').html(data)
          $('#universal-modal').modal('show')
          if(save_history){
            $('#consumable_appointed_service_form').attr('data-save_history', true)
          }

        }
    })
  }

  // Сохранить форму как пдф
  $(document).on('click', '.get-consumable_appointed_service', function(){
    get_consumable_appointed_service()
  })

  function consumable_appointed_service_save(){
    var form = $('#consumable_appointed_service_form')
    $.ajax({
      type: form.attr('method'),
      url: form.attr('action'),
      data: form.serialize(),
      success: function (data) {
        $('#consumable_appointed_service_form input:checked').each(function() {
            $(this).prop("disabled", true)
            $('#universal-modal').modal('hide')
        });

      },
      error: function (data) {
      },
    });
  }

  // Сохранить списания расходного материала
  $(document).on('submit', '#consumable_appointed_service_form', function(){
    event.preventDefault()
    consumable_appointed_service_save()
    if($(this).data('save_history')){
      var input = $("<input>").attr("name", "status").val(1);
      $('#save_form').append(input).submit()
    }
  })

  $(document).on('click', '#save-form-pdf', function(){
    get_consumable_appointed_service(true)
  })





  // Расчитать расходной материал
  $(document).on('change', 'input[name = "schedule_service"]', function(){
    var id = $(this).val()
    var schedule_service_class = 'schedule_service_' + id
    var data_consumable = 'data-consumable-' + id
    $('#consumable-content').removeClass('d-none')
    if($(this).is(':checked')){
      var service = $(this).data('service')
      var url = "{% url 'technological_card:consumable_calculate' service=0 %}".replace('0', service)
      $.ajax({
            type: "GET",
            url: url,
            success: function(data) {
              var html = ''
              $.each( data, function( key, value ) {
                var good_id = value.good.id
                var good_title = value.good.title
                var receipt_amount = value.receipt_amount
                var storage_id = value.storage.id
                var storage_title = value.storage.title
                var consumable_content_id = '#consumable-' + storage_id + '-' + good_id
                if($(consumable_content_id).length){
                  var receipt_amount_elem = $(consumable_content_id).find('[name = "receipt_amount"]')
                  var receipt_amount_res = parseInt(receipt_amount_elem.val()) + parseInt(receipt_amount)
                  receipt_amount_elem.val(receipt_amount_res).attr(data_consumable, receipt_amount)
                  $(consumable_content_id).addClass(schedule_service_class)
                }
                else{
                  html =
                      `<tr id="consumable-` + storage_id + `-` + good_id + `" class="` + schedule_service_class + `">
                      <td>`+ good_title + `
                        <input type="hidden" name="good" value="` + good_id + `">
                      </td>
                      <td>` + storage_title + `
                        <input type="hidden" name="storage" value="` + storage_id + `">
                      </td>
                      <td>
                        <input type="number" name="receipt_amount" value="` + receipt_amount + `"
                          ` + data_consumable + `="` + receipt_amount + `">
                      </td>
                      <th>
                        <button type="button" class="btn btn-sm btn-danger remove-consumable">-</button>
                      </th>
                    </tr>`
                }
                $('#consumable-tbody-content').append(html)
            })
          }
        })
    }
    else{
      $("." + schedule_service_class).each(function() {
        var receipt_amount_elem = $(this).find('[name = "receipt_amount"]')
          var receipt_amount = receipt_amount_elem.attr(data_consumable)
          $(this).removeClass(schedule_service_class)
          if ($(this).is('[class*="schedule_service_"]')){
            var receipt_amount_res = parseInt(receipt_amount_elem.val()) - parseInt(receipt_amount)
            receipt_amount_elem.val(receipt_amount_res).attr(data_consumable, '')
          }
          else{
            $(this).remove()
          }
      })
    }
  })

  // Добавить расходной материал
  $(document).on('click', '#consumable-add', function(){
    event.preventDefault()
    index += 1
    html =
        `<tr>
        <td>
          <select id="id_good`+ index +`" name="good" required>
            <option value="">&nbsp</option>
          </select>
        </td>
        <td>
          <select id="id_storage`+ index +`" class="form-control" name="storage" required>
            <option value="">&nbsp</option>
            {% for storage in request.user.company.storage_set.all %}
              <option value="{{ storage.id }}">{{ storage.title }}</option>
            {% endfor %}
          </select>
        </td>
        <td>
          <input type="number" name="receipt_amount" value="" class="form-control" required>
        </td>
        <th>
          <button type="button" class="btn btn-sm btn-danger remove-consumable">-</button>
        </th>
      </tr>`
    $('#consumable-tbody-content').append(html)
    good_search(index)
  })

  $(document).on('click', '.remove-consumable', function(){
    $(this).closest('tr').remove()
  })

  $(document).on('click', '.get-audio-modal', function(){
    var marker = $(this).data('marker')
    $.ajax({
        type: "GET",
        url: "{% url 'document_circulation:audio_text' %}",
        data: {
          marker: marker
      },
        success: function(data) {
        $('#modal-content').html(data)
          $('#universal-modal').modal('show')
        }
    })
  })


  $(document).on('dblclick', '.get-phrase', function(){
    var phrase = ' ' + $(this).html()
    var marker = $('#id_active_marker').val()
    var element = $('#' + marker)
    var name = element.attr('name')
    var result = element.val() + phrase
    $('#' + name).append(phrase)
    element.val(result)
  })

  $(document).on('click', '.get-mkb10', function(){
    var phrase = $(this).text()
    var marker = $('#id_active_marker').val()
    var element = $('#' + marker)
    var name = element.attr('name')
    $('#' + name).val(phrase)
    element.val(phrase)
  })

  function get_ready_phrase_list(marker){
    var url = "{% url 'document_circulation:ready_phrase_list' marker=0 %}".replace('0', marker)
    $.ajax({
        type: "GET",
        url: url,
        success: function(data) {
          $('#ready-phrase-list').html(data)
          $('#ready_phrase-content').removeClass('d-none')
          $('#ready_phrase-additional-content').html('')
        }
    })
  }

  function show_setting_modal(){
    var setting_html = `{% include 'document_circulation/ready_phrase/setting.html' %}`
    $('#modal-content').html(setting_html)
    $('#universal-modal').modal('show')
  }

  $(document).on('click', '#setting-ready-phrase', function(){
    var marker = $('#id_active_marker').val()
    show_setting_modal()
    get_ready_phrase_list(marker)
  })

  $(document).on('click', '#add-ready-phrase', function(){
    var marker = $('#id_active_marker').val()
    var url = "{% url 'document_circulation:ready_phrase_create' marker=0 %}".replace('0', marker)
    $.ajax({
        type: "GET",
        url: url,
        success: function(data) {
          $('#ready_phrase-content').addClass('d-none')
          $('#ready_phrase-additional-content').html(data)
        }
    })
  })

  $(document).on('click', '.edit-ready-phrase', function(){
    var id = $(this).data('id')
    var marker = $('#id_active_marker').val()
    var url = "{% url 'document_circulation:ready_phrase_update' pk=0 %}".replace('0', id)
    $.ajax({
        type: "GET",
        url: url,
        success: function(data) {
          $('#ready_phrase-content').addClass('d-none')
          $('#ready_phrase-additional-content').html(data)
        }
    })
  })

  $(document).on('click', '.delete-ready-phrase', function(){
      var _this = $(this)
      result = confirm("Вы точно хотите удалить выбранный шаблон!")
      if(result){
        var id = $(this).data('id')
        var url = "{% url 'document_circulation:ready_phrase_delete' pk=0 %}".replace('0', id)
        $.ajax({
          type: "POST",
          url: url,
          success: function(data) {
            _this.closest('.justify-content-between').remove()
          }
        })
      }
  })

  $(document).on('change', 'input[name="card_number"], #id_icd, #id_type_appeal, #id_place', function(){
    var url = "{% url 'service_system:covered_service' %}"
    const card_number = $('input[name="card_number"]:checked').val()
    const icd = $('#id_icd').val()
    const type_appeal = $('#id_type_appeal').val()
    const place = $('#id_place').val()
    if(card_number && icd && type_appeal && place){
        var options = '<option value="">&nbsp</option>'
        $.ajax({
          type: "POST",
          url: url,
          data: {
            card_number: card_number,
            icd: icd,
            type_appeal: type_appeal,
            place: place
          },
          success: function(data) {
            data.forEach(function(element) {
                options += '<option value="' + element.code + '">' + element.title + '</option>'
            });
            $('#id_usluga').html(options)
          }
        })
    }
  })

  $(document).on('click', '.ready_phrase-back', function(){
    $('#ready_phrase-content').removeClass('d-none')
    $('#ready_phrase-additional-content').html('')
  })




  // Сохранить готовый шаблон
  $(document).on('submit', '#form-ready-phrase', function(){
    event.preventDefault()
    var marker = $('#id_active_marker').val()
    var _this = $(this)
      $.ajax({
        type: _this.attr('method'),
        url: _this.attr('action'),
        data: _this.serialize(),
        success: function (data) {
          get_ready_phrase_list(marker)
        }
      })
  })

var coll = document.getElementsByClassName("collapsible");
var i;

for (i = 0; i < coll.length; i++) {
  coll[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var content = this.nextElementSibling;
    if (content.style.display === "block") {
      content.style.display = "none";
    } else {
      content.style.display = "block";
    }
  });
}

$('.selectize-input-search').selectize({});


{% endblock %}