{% extends "base.html" %}
{% load widget_tweaks %}

{% block content %}
	<div class="formset" style="margin-left: 300px;margin-right: 300px;margin-top: 30px;">
		<h3>Приход товара</h3>
		<form action="" method="POST">
			{% csrf_token %}
			Склад <br>
			{{ form.storage|add_class:"form-control" }} <br>
			Тип операции <br>
			{{ form.type_operation|add_class:"form-control" }} <br>
			Провайдер <br>
			{{ form.provider|add_class:"form-control" }} <br>
			{{ storage_operation_good_formset.management_form }}
			<h3>Список товаров</h3>
		    <div class="formset-forms">
		    	<div class="row">
			    	<div class="col-md-5">
			    		Товар
			    	</div>
			    	<div class="col-md-5">
			    		Количество
			    	</div>
			    	<div class="col-md-2">
			    		+ / -
			    	</div>
		    	</div>
		    	  
		        {% for formset_form in storage_operation_good_formset %}
		            <div class="formset-form row">
		            	<div class="col-md-5">
		                	{{formset_form.good}}
		                </div>
		                <div class="col-md-5">
		                	{{formset_form.quantity}}
		                </div>
		                <div class="col-md-2 delete-content">
		                	{{formset_form.DELETE}}
		                </div>
		            </div>
		        {% endfor %}
		    </div>
		    <button type="button" class="btn btn-primary btn-sm  add-good-formset">+ Добавить новый товар</button>
		     
		    <div class="empty-form d-none row">
		    	<div class="col-md-5">
		        	{{storage_operation_good_formset.empty_form.good|add_class:"form-control"}}
		        </div>
		        <div class="col-md-5">
		        	{{storage_operation_good_formset.empty_form.quantity|add_class:"form-control"}}
		        </div>
		        <div class="col-md-2 delete-content">
		        	{{storage_operation_good_formset.empty_form.DELETE}}
		        </div>
		    </div>
		    <br> <br>
		    <input type="submit" name="" value="Сохранить" class="btn btn-success">
	    </form>
	</div>
{% endblock %}