
<div class="modal-body">
	<button type="button" class="btn-close btn-close-new" data-bs-dismiss="modal" aria-label="Close">
		<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="#000"><path d="M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z"/>
	      </svg>
	</button>
	<div class="d-flex justify-content-between">
		<div class="title-modal">
			<h5 class="modal-title" id="exampleModalLabel">Настроить готовый шаблон	</h5>
		</div>
		<div class="btn-add">
			<button id="add-ready-phrase" class="btn btn-primary btn-sm">+ Добавить новый шаблон</button>
		</div>
	</div>
	<div class="mt-3">
		<div id="ready_phrase-content">
			<!-- <button id="add-ready-phrase" class="btn btn-primary btn-sm">+ Добавить новый шаблон</button> -->
			<div id="ready-phrase-list">
			</div>
		</div>
		<div id="ready_phrase-additional-content"></div>
	</div>
	
</div>