{% load form_tags %}
<table class="table table-bordered">
	{% for rows in history.get_history %}
		<tr>
			{% for marker in rows.markers %}
				<td colspan="{{marker.colspan}}" class="{% text_center  marker.is_center %}">
					<span class="{% text_bold  marker.is_bold %}">{{marker.label|default:""|safe}}</span>
					{% if  marker.kind == 'checkbox' %}
						{% for key, option in marker.options.items %}
                  			{% is_checked option marker.form_data as checked %}
                  			{% if checked == 'checked' %}
                  			 	✓
                  			{% else %}
                  				✗
                  			{% endif %}
                  			{{option|default_if_none:""}}
						{% endfor %}
					{% elif  marker.kind == 'doctor' %}

					{% elif  marker.kind == 'currentDate' %}
						{{marker.form_data}}
					{% else %}
						<span>{{marker.form_data|default_if_none:""}}</span>
					{% endif %}
				</td>
			{% endfor %}
		</tr>
	{% endfor %}
</table>