{% load register_tags %}
{% get_time_interval "08:00:00" "20:00:00" 20 as time_intervals %}
<form action="{% url 'register:company_work_time_exclution_create' %}" method="POST" id="company-worktime-exclution-form">
	{% csrf_token %}
  	<div class="modal-header">
    	<h5 class="modal-title" id="userWorktimeExclution"></h5>
    	<button type="button" class="close" data-dismiss="modal" aria-label="Close">
      		<span aria-hidden="true">&times;</span>
    	</button>
  	</div>
  	<div  class="modal-body">
    	<div>
    		<h5>Выберите дату (даты), которые вы хотите назначить в определенные часы</h5>
			<input id="exclution-date" name="exclution_date" class="d-none" type="text" placeholder="Select Date.." data-input>
		</div>
		<div id="exclution-content" class="d-none">
			<br>
			<h5>
				В какие часы вы доступны?
				<button id="add-exclution-time" type="button">+</button>
			</h5>
			<div id="exclution-time-content">
				
			</div>
		</div>
  	</div>
  	<div class="modal-footer">
    	<button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
    	<button type="submit" class="btn btn-primary">Сохранить</button>
  	</div>
</form>
<div id="exclution-time-hidden" class="d-none">
	<div>			
		<select name="start_time">
			{% for value in time_intervals %}
				{% time_format value as time_interval %}
				<option value="{{time_interval}}">{{time_interval}}</option>
			{% endfor %}
		</select>
		-
		<select name="end_time">
			{% for value in time_intervals %}
				{% time_format value as time_interval %}
				<option value="{{time_interval}}">{{time_interval}}</option>
			{% endfor %}
		</select>
		<button type="button">-</button>
	</div>
</div>